{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/banner.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/servicosSlider.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/servicos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sobrenos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/depoimentos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/contato.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/footer.css' %}">
  <title>Fisher</title>
</head>

<body>

  <nav id="navbar">
    <div id="nav">
      <div class="nav-logo">
        <img src="{% static 'imagens/logof.png' %}">
      </div>
      <div class="nav-container">
        <ul>
          <a href="#sobrenos" class="navbar-link"> Sobre Nós </a>
          <a href="#servicos" class="navbar-link"> Serviços </a>
          <a href="#depoimentos" class="navbar-link"> Depoimentos </a>
          <a href="#contato" class="navbar-link"> Contato </a>
        </ul>
      </div>
      <div class="toggle">
        <div class="container" onclick="myfunction(this)">
          <div class="hamburger">
            <div class="bar1"></div>
            <div class="bar2" id="b2"></div>
            <div class="bar3"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="nav-mobile">
      <ul>
        <a href="#sobrenos" class="navbar-link"> Sobre Nós </a>
        <a href="#servicos" class="navbar-link"> Serviços </a>
        <a href="#depoimentos" class="navbar-link"> Depoimentos </a>
        <a href="#contato" class="navbar-link"> Contato </a>
      </ul>
    </div>
  </nav>
  <div id="banner">
    <div class="todo-banner">
      <div class="banner-banner">
        <div class="simbol-banner"></div>
        <div class="text-banner">
          <h1 id="banner-h1">Fisher Consultoria Estatística</h1>
          <div class="caixa-banner">
            <h3>Uma nova visão para seus dados</h3>
          </div>
        </div>
        <div id="pai-losango">
          <div id="losango-banner"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim do banner -->
  <!-- Sobre Nos -->
  <div id="sobrenos">
    <div class="tudo-sobrenos">
      <div class="up-sobrenos">
        <h1> Sobre Nós </h1>
      </div>
      <div class="sobre-sobrenos">
        <img src="{{ aboutUs.image.url }}" id="img-sobrenos" alt="">
        <div class="txx-sobrenos"> {{ aboutUs.description }} </div>
      </div>
    </div>
    <div id="mvv">
      <h2 class="mvv-title">Missão</h2>
      <div class="card-mvv" id="mission">
        <h2 class="card-title">Missão</h2>
        <img src="{% static 'imagens/flag.png' %}" alt="" class="card-image">
        <div class="card-description"> {{ mvv.mission }} </div>
      </div>
      <h2 class="mvv-title">Visão</h2>
      <div class="card-mvv" id="vision">
        <h2 class="card-title">Visão</h2>
        <img src="{% static 'imagens/view.png' %}" alt="" class="card-image">
        <div class="card-description"> {{ mvv.vision }} </div>
      </div>
      <h2 class="mvv-title">Visão</h2>
      <div class="card-mvv" id="values">
        <h2 class="card-title">Valores</h2>
        <img src="{% static 'imagens/like.png' %}" alt="" class="card-image">
        <div class="card-description"> {{ mvv.values }}</div>
      </div>
      <div id="bluebar"></div>
    </div>
  </div>
  <!-- Fim do sobre nós -->
  {% if services %}
  <div id="servicos">
    <h1 class=""> Serviços </h1>
    <div id="servicos-container">
      <div class="servicos-card">
        {% for service in services %}
        <div class="servicos-card-item">
          <img src="{{ service.image.url }}" alt="">
          <div class="servicos-text">
            <div class="servicos-title"> {{ service.title }}</div>
            <div class="servicos-content"> {{ service.content }} </div>
            <button class="solicitar-servico" data="{{ service.title }}">Solicitar serviço</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="servico-modal-container">
    <div id="servico-modal">
      <form method="POST" id="servico-form">
        {% csrf_token %}
        <img src="{% static 'imagens/letter-x.svg' %}" id="modal-close" alt="">
        <div>
          <input class="servico-modal-input" type="text" name="name" placeholder="Nome">
        </div>
        <div>
          <input class="servico-modal-input" type="email" name="email" placeholder="E-mail">
        </div>
        <div>
          <select class="servico-modal-input" name="servico" id="servico-select">
            <option value="" disabled>Serviço</option>
            {% for service in services %}
            <option value="{{ service.title }}">{{ service.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <textarea class="servico-modal-input" name="description" cols="30" rows="10" placeholder="Descrição"></textarea>
        </div>
        <div>
          <input class="servico-modal-input" id="servico-submit"type="submit" value="Enviar">
        </div>
      </form>
    </div>
  </div>
  {% endif %}
  {% if depoiments %}
  <div id="depoimentos">
    <h1 id="title-depoimentos-h1">Depoimentos</h1>
    <div id="depoimentos-container">
      <div class="depoimentos-card">
        {% for depoiment in depoiments %}
        <div class="card-item">
          <div class="image">
            <div class="box"></div>
            <img src="{{ depoiment.image.url }}" alt="">
          </div>
          <div class="description"> {{ depoiment.description }}</div>
          <div class="author"> {{ depoiment.author }} </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  <div id="contato">


    <section class="todo-contato">
      <h1 class="h1-branco">Contato</h1>
      <div class="container-contato">
        <form class="form-contact" method="post" tabindex="1">
          {% csrf_token %}
          <input type="text" class="form-contact-input" name="nome" placeholder="Nome*" required />
          <input type="email" class="form-contact-input" name="email" placeholder="Email*" required />
          <input type="tel" class="form-contact-input" name="tel" placeholder="Telefone" />
          <textarea class="form-contact-textarea" name="conteudo" placeholder="Descrição*" required></textarea>
          <button type="submit" class="form-contact-button">Enviar</button>
        </form>
      </div>
    </section>


  </div>

  <!-- Footer -->
  <footer id="footer>">
    <div class="footer-footer">
      <!-- <div class="quadrado-footer" id="parcerias">PARCERIAS</div> -->
      <div class="meio-footer" id="q-2-footer">
        <img id="fisher-footer" src="{% static 'imagens/logo.png' %}">
        <div id="email-footer">fisherconsultoriaestatistica@gmail.com</div>
        <div class="icones-footer">
          <div class="incon" id="tt">
            <a href="https://www.facebook.com/fisher.estat" target="_blank">
              <img class="tam-footer" src="{% static 'imagens/face.svg' %}">
            </a>
          </div>
          <div class="incon" id="insta">
            <a href="https://www.instagram.com/fisherestatistica/" target="_blank">
              <img class="tam-footer" src="{% static 'imagens/instagram.svg' %}">
            </a>
          </div>
          <div class="incon" id="linkedin">
            <a href="https://www.facebook.com" target="_blank">
              <img class="tam-footer" src="{% static 'imagens/linkedin.svg' %}">
            </a>
          </div>
        </div>
      </div>
      <div class="local" id="q-3-footer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31603.607224740594!2d-34.93349726000414!3d-8.055403086396353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1966d409d415%3A0x497df2e2ee00ea52!2sUniversidade+Federal+de+Pernambuco+UFPE!5e0!3m2!1spt-BR!2sbr!4v1543076010432"
          width="250" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div id="map-icon">
          <img src="{% static 'imagens/place.png' %}" alt="">
        </div>
      </div>
    </div>
  </footer>
  <!-- Fim do Footer -->

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/banner.js' %}"></script>
  <script src="{% static 'js/sobrenos.js' %}"></script>
  <script src="{% static 'js/cascadeservicos.js' %}"></script>
  <script src="{% static 'js/depoimentos.js' %}"></script>
  <script src="{% static 'js/contato.js' %}"></script>
  <script src="{% static 'js/footer.js' %}"></script>
  <script src="{% static 'js/servicos.js' %}"></script>
</body>

</html>