{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/banner.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/servicosSlider.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/servicos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sobrenos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/depoimentos.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/contato.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/footer.css' %}">
  <title>Fisher</title>
</head>

<body>

  <div id="main-container">
    <div id="navbar">

      <div id="container">
        <div id="navbarra">
          <div class="logo">
            <img id="logomarca" src="{% static 'imagens/logof.png' %}">
          </div>
          <div class="toggle">
            <div class="container" onclick="myfunction(this)">
              <div class="hamburger">
                <div class="bar1"></div>
                <div class="bar2" id="b2"></div>
                <div class="bar3"></div>
              </div>
            </div>
          </div>
          <nav id="nv">

            <div class="navbar">

              <ul>
                <li><a href="#sobrenos" class="scroll">Sobre nós</a></li>
                <li><a href="#servicos" class="scroll">Serviços</a></li>
                <li><a href="#clientes" class="scroll">Clientes</a></li>
                <li><a href="#contato" class="scroll">Contato</a></li>
              </ul>

            </div>
          </nav>
        </div>

      </div>


    </div>
    <div id="banner">

      <div class="todo-banner">
       
        
       
        
        <div class="banner-banner">

       

        <div class="simbol-banner"></div>
        <div class="text-banner">
            <h1 id="banner-h1">Texto Texto Texto</h1>
            <div class="caixa-banner">
            <h3>Texto texto texto texto texto texto texto texto texto</h3>
            </div>
        </div>
        <div id="pai-losango"> <div id="losango-banner"></div> </div>
        </div>
             
        
        
    </div>
    </div>
    <div id="sobrenos">

      <div class="tudo-sobrenos">
    
    <div class="up-sobrenos">
            <h1> SOBRE NÓS </h1>
        </div>
    <div class="sobre-sobrenos">
        <div id="img-sobrenos"></div>
        <div id="texto-sobrenos">
            <div class="txx-sobrenos">
                A Estatística é bastante utilizada em 
                diversos ramos da sociedade, no intuito de 
                realizar pesquisas, colher dados e processá-los, 
                analisar informações, apresentar situações através de gráficos de fácil 
                compreensão. Os meios de comunicação, ao utilizarem gráficos, deixam a leitura mais agradável. 
                O IBGE (Instituto Brasileiro de Geografia e Estatística) é considerado um órgão importante e conceituado na área. No intuito de conhecer e aprofundar nos estudos estatísticos precisamos conhecer alguns conceitos e fundamentos primordiais para o desenvolvimento de uma pesquisa.
            </div>
        </div>
    </div>

    <div class="icones-sobrenos">

    <div class="vmv">
        <div class="quadrado-sobrenos" id="q-1-sobrenos">
            <div class="title-sobrenos">  Visão  </div>
            <div id="visao-img">
              
            </div>
        </div>
        <div class="quadrado-sobrenos" id="q-2-sobrenos">
            <div class="title-sobrenos">  Missão  </div>
        </div>
        <div class="quadrado-sobrenos" id="q-3-sobrenos">
            <div class="title-sobrenos">  Valores  </div>
        </div>
    </div>

    <div class="vmv2">
        <div class="sec" id="q-4-sobrenos">
            <div class="desc">  Tornar-se uma empresa de referencia no mercado Brasileiro por meio da satisfação dos nossos clientes.  </div>
        </div>
        <div class="sec" id="q-5-sobrenos">
            <div class="desc">  Difundir a Estatística de forma prática e acessível, mantendo o cliente a frente em seus projetos.  </div>
        </div>
        <div class="sec" id="q-6-sobrenos">
            <div class="desc">  Comprometimento, qualidade, atenção aos detalhes, clareza nos resultados, foco no cliente, valorização dos funcionários e respeito ao meio ambiente  </div>
        </div>
    </div>
    </div>
</div>    
    </div>
  

  <div id="servicos">
      

   </div>  
    <div id="depoimentos">
      <div id="title-depoimentos-div">
        <h1 id="title-depoimentos-h1">DEPOIMENTOS</h1>
      </div>

      <div id="carrossel-main-container">

      </div>
      <div id="aspas">"</div>
      <div id="carrossel-container">
        <div id="avatar-depoimentos">
          <div id="avatar-imagem"></div>
          <div id="losango-pequeno"></div>
        </div>
        <div id="carrossel-depoimentos">

          <div class="slider-active">
            
            <div class="slider-item">
            <div id="slider-container-depoimentos">
                    Texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto  
                <div class="rodape"> Texto texto texto texto texto texto . </div>  
            </div>
            </div>
            <div class="slider-item">
                
                    Texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto  
                 <div class="rodape"> Texto texto texto texto texto texto . </div>  
                
            </div>
            <div class="slider-item">
                
                    Texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto 
                    texto texto texto texto  
                 <div class="rodape"> Texto texto texto texto texto texto . </div>  
                
            </div>
            </div>
        </div>

        </div>
      </div>  

   
    <div id="contato">


      <section class="todo-contato">
        <h1 class="h1-branco">Contato</h1>
    <div class="container-contato">  
  <form action="#" class="form-contact" method="post" tabindex="1">  
     <input type="text" class="form-contact-input" name="nome" placeholder="Nome*" required />  
     <input type="email" class="form-contact-input" name="email" placeholder="Email*" required />  
     <input type="tel" class="form-contact-input" name="tel" placeholder="Telefone" />  
     <textarea class="form-contact-textarea" name="conteudo" placeholder="Descrição*" required></textarea>  
     <button type="submit" class="form-contact-button">Enviar</button>  
  </form>  
</div>  
</section>


    </div>

    <!-- Footer -->
    <footer id="footer>">
      <div class="footer-footer">
        <div class="quadrado-footer" id="parcerias">PARCERIAS</div>
        <div class="meio-footer" id="q-2-footer">
            <img id="fisher-footer" src="{% static 'imagens/logo.png' %}">
            <div id="email-footer">fisherconsultoriaestatistica@gmail.com</div>
            <div class="icones-footer">
                <div class="incon" id="tt">
                    <a href="https://www.facebook.com/fisher.estat" target="_blank">
                        <img class="tam-footer" src="{% static 'imagens/face.svg' %}">
                    </a>
                </div>
                <div class="incon" id="insta">
                  <a href="https://www.instagram.com/fisherestatistica/" target="_blank">
                    <img class="tam-footer" src="{% static 'imagens/instagram.svg' %}">
                  </a>
                </div>
                <div class="incon" id="linkedin">
                  <a href="https://www.facebook.com" target="_blank">
                    <img class="tam-footer" src="{% static 'imagens/linkedin.svg' %}">
                  </a>
                </div>
            </div>
        </div>
        <div class="local" id="q-3-footer">  
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31603.607224740594!2d-34.93349726000414!3d-8.055403086396353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1966d409d415%3A0x497df2e2ee00ea52!2sUniversidade+Federal+de+Pernambuco+UFPE!5e0!3m2!1spt-BR!2sbr!4v1543076010432" width="250" height="160" frameborder="0" style="border:0" allowfullscreen></iframe>      
          <div id="map-icon">
            <img src="{% static 'imagens/place.png' %}" alt="">
          </div> 
        </div>
      </div>  
    </footer>
    <!-- Fim do Footer -->

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/banner.js' %}"></script>
  <script src="{% static 'js/sobrenos.js' %}"></script>
  <script src="{% static 'js/cascadeservicos.js' %}"></script>
  <script src="{% static 'js/depoimentos.js' %}"></script>
  <script src="{% static 'js/contato.js' %}"></script>
  <script src="{% static 'js/footer.js' %}"></script>
  <script src="{% static 'js/servicos.js' %}"></script>
</body>
</html>