.todo-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vw;
    text-align: left;
}

#banner-h1 {
    align-items: center;
    color: white;
    display: flex;
    font-size: 5rem;
    font-weight: 300;
    justify-content: left;
    margin-bottom: 100px;
    padding-top: 50px;
    text-align: center;
}

#banner-h1:before, #banner-h1:after {
	
	height: 0;
	background-color: transparent;
	width: 0;
}

.banner-banner {
    width: 100%;
    height: 100%;
    background-image: url("/static/imagens/Banner.jpg");
    float: left;
    background-repeat: no-repeat;
    background-size: 100vw;
    
    position: relative;
}


.text-banner {
    
    height: 50px;
    font-size: 3rem;
    color: #FFFFFF;
    padding-top: 90px;
    padding-left: 130px;
    z-index: 100;
}

.caixa-banner {
    display: flex;
    flex-direction: column;
    width: 55vw;
    
    padding-bottom: 6vw;
}

h3 {
  font-weight: 300;
}

.simbol-banner {
    padding: 20px;
    padding-top: 57px;
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    background-image: url("/static/imagens/Simbolo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60vw;
    opacity: 0.2;
   
}

#pai-losango {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: -90px;
}

#losango-banner {
  width: 15vw;
  height: 15vw;
  
  top: 80%;
  left: 40%;
  right: 40%;
  z-index: 3;
  background-image: url("/static/imagens/fluctuation.png");
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
  background-color: #000055;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@media (max-width: 1100px) {
    .text-banner {
        height: 50px;
        font-size: 1.8rem;
        
        padding-top: 90px;
        padding-left: 130px;
       
    }
} 

@media (max-width: 760px) {
    .text-banner {
        font-size: 1rem;
        padding-top: 50px;
    }

}

@media (max-width: 500px) {
    .text-banner {
        font-size: 0.7rem;
    }
}