#depoimentos {
  width: 100%;
  height: 600px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

#title-depoimentos-div {
  text-align: center;
  background-color: white;
  width: 100%;
}

#aspas {
  display: flex;
  font-size: 20rem;
  position: absolute;
  left: 9px;
  color: #9d9db0;
  padding-top: 73px;
}

#carrossel-container {
  width: 80%;
  height: 300px;
  background: transparent;
  padding-top: 20px;
  
}

#carrossel-main-container {
  width: 100%;
  background-color: transparent;
  height: 600px;
  display: block;
  position: relative;
  z-index: -3;
}

#carrossel-depoimentos {
  width: 100%;
  height: 100%;
}

.slider-item {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #020237;
  text-align: -webkit-left;
  line-height: 50px;
  
}

#slider-container-depoimentos {
  width: 100%;
}

#avatar-depoimentos {
  width: 100%;
  
  position: relative;
}

#losango-pequeno {
  width: 60px;
  height: 60px;
  float: right;
  top: 0px;
  right: -25px;
  position: relative;
  background-color: #323458;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#avatar-imagem {
  width: 200px;
  height: 200px;
  float: right;
  top: -35px;
  position: relative;
  background-image: url("/static/imagens/executivo.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #323458;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.carousel-next, .carousel-prev {
  position: absolute;
  /* transform: translateY(-50%); */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 58px;
  /* margin-left: 219px; */
  /* margin-right: 210px; */
  display: flex;
  flex-direction: row;
}

.carousel-prev {
  right: -9vw;
   transform: rotate(180deg);
  bottom: 9vw;
  z-index: 1000;
}

.carousel-next {
   left: -9vw;
   bottom: 9vw;
}

.carousel-next img, .carousel-prev img {
   width: 60px;
}

.slider-item.slick-slide.slick-current.slick-active {
  outline: none;
}

button.carousel-prev.slick-arrow {
  outline: none;
}

button.carousel-next.slick-arrow {
  outline: none;
}