
#depoimentos {
  overflow: hidden;
}

#depoimentos-container {
  display: flex;
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;

}

.depoimentos-card {
  width: 100%;
}

.card-item {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  widows: 100%;
  justify-content: space-around;
}

.slick-list {
  overflow: visible;
}

.card-item .image {
  position: absolute;
  top: -50px;
  margin-left: 11%;
}

.card-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.card-item .image .box {
  background-color: #323458;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 50px;
  width: 50px;
  position: absolute;
  top: 18px;
  left: -31px;
}

.card-item .description,
.card-item .author {
  font-size: 1.2rem;
  color: #020237;
  line-height: 25px;
  font-weight: 300;
  padding: 30px 20%;
  margin-top: 70px;
}

.card-item .author {
  margin: 0;
  align-self: flex-end;
  padding: 0 20%;
}

.carousel-next, .carousel-prev {
  position: absolute;
  /* transform: translateY(-50%); */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 58px;
  /* margin-left: 219px; */
  /* margin-right: 210px; */
  display: flex;
  flex-direction: row;
  top: 50%;
}


.carousel-next {
  left: 10vw;
}

.carousel-prev {
  right: 10vw;
  transform: rotate(180deg);
}


.carousel-next img, 
.carousel-prev img {
  width: 50px;
}


@media(max-width: 850px) {
  .card-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .card-item .image {
    margin-left: 10%;
  }

  .card-item .image .box {
    background-color: #323458;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    left: -26px;
  }

  .card-item .description,
  .card-item .author {
    font-size: 1rem;
  }

  .carousel-next > img, 
  .carousel-prev > img {
    width: 35px;
  }

}

@media(max-width: 600px) {
  .card-item .description, 
  .card-item .author {
    padding: 30px 10%;
    font-size: 0.9rem;

  }

  .card-item .author {
    align-self: center;
  }

  .carousel-next {
    left: 10%;
    top: 4%;
  }
  
  .carousel-prev {
    left: 25%;
    top: 4%;
  }
}

@media(max-width: 450px) {
  .card-item .image {
    margin-left: 8%;
  }
}

@media(min-width: 1400px){
  .card-item .description,
  .card-item .author {
    width: 700px;
    padding: 50px 0;
    margin: auto;
  }

  .carousel-next {
    left: 20vw;
  }

  .carousel-prev {
    right: 20vw;
  }
}