.footer-footer {
    width: 100%;
    background-color: #F2F2F2;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.quadrado-footer {
    width: 100px;
    height: 170px;
    margin: 20px;
}

#parcerias {
    color: #000055;
    font-size: 1.8rem;
}

.meio-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icones-footer {
    display: flex;
    flex-direction: row;
    
}

#tt {
    padding-right: 80px;
}

#insta {
    padding-right: 70px;
}

.tam-footer {
    width: 50px;
    height: 50px;
}

#email-footer {
    padding: 10px;
    color: #000055;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.local-footer:after {
    content: '';
	background-color: #01013A;
	display: block;
	transform: rotate(45deg);
	width: 50px;
	height: 50px;
	position: absolute;
	right: 76px;
    top: 28px;
	background-image: url("/static/imagens/place.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;  
}

#fisher-footer {
    width: 247px;
    height: 85px;
}

@media (max-width: 400px) {
    #parcerias {
        order: 1;
    }

    #q-2-footer {
        order: 3;
    }

    #q-3-footer {
        order: 2;
    }

    .tam-footer {
        width: 30px;
        height: 30px;
    }

    #fisher-footer {
        width: 147px;
        height: 55px;
    }

    #email-footer {
        font-size: 0.6rem;
    }

    #parcerias {
        font-size: 1.2rem;
    }

    .quadrado-footer {
        width: 120px;
    }

   
}

@media(max-width: 360px) {
    .tam-footer {
        width: 20px;
        height: 20px;
    }

    #fisher-footer {
        width: 147px;
        height: 55px;
    }

    #email-footer {
        font-size: 0.4rem;
    }

    #parcerias {
        font-size: 1.5rem;
    }

   iframe {
       width: 180px;
       height: 130px;
   }

   .quadrado-footer {
    width: 150px;
}


}