#servicos {
    background-color: #01013A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 70px;
}

#servicos h1 {
    color: white;
    padding: 0;
    margin: 40px 0;
}

#servicos h1::before,
#servicos h1:after {
    background-color: white;
}

#servicos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    overflow: hidden;
    padding: 40px 0;
}

.servicos-card {
    width: 80%;
}

.servicos-card-item {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 750px;
    background-color: white;
    transition: all 0.2s linear;
    box-shadow: 0 1px 1px 0 #ECECEC, 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.servicos-card-item img {
    width: 49%;
    height: 350px;
    object-fit: cover;
}

.servicos-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    padding: 20px 40px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.servicos-title {
    color: #000055;
    line-height: 25px;
    font-size: 1.2rem;
}

.servicos-content {
    line-height: 25px;
    color: #000055;
    font-weight: 300;
}

.servicos-card-item button {
    transition: all 0.2s linear;
    transform: scale(1.0);
    background-color: white;
    border: 1px solid #000055;
    cursor: pointer;
    padding: 5px 10px;
    color: #000055;
    text-decoration: none;
}

.servicos-card-item button:hover {
    background-color: #000055;
    color: white;
}

.servicos-last-container {
    width: 96%;
    height: 92%;
    border: 1px solid #000055;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.servicos-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.servicos-last .servicos-title {
    text-align: center;
    font-size: 2rem;
}

.servicos-last .servicos-title div {
    padding-bottom: 10px;
}

.servicos-last .servicos-content {
    font-size: 1.2rem;
    width: 70%;
    text-align: center;
}

.servicos-card-item.slick-slide.slick-current.slick-center .service-icon {
    height: 60px;
    width: 60px;
    background-color: #000055;
    position: absolute;
    transform: rotate(45deg)
}

#service-icon1 {
    top: -30px;
    left: 12px;
}

#service-icon2 {
    bottom: -30px;
    right: 12px;
}

@media(max-width: 1400px){
    .servicos-card-item {
        width: 600px;
    }

    .servicos-title {
        line-height: 23px;
        font-size: 1.1rem;
    }
    
    .servicos-content {
        line-height: 23px;
        font-size: 0.9rem;
    }
}

@media(max-width: 1200px){
    .servicos-card-item {
        width: 500px;
    }

    .servicos-text {
        padding: 10px 20px;
        height: 95%;
    }

    .servicos-content {
        font-size: 0.8rem;
        line-height: 22px;
    }

    .servicos-last {
        height: 81%;
        padding: 30px 0;
    }

    .servicos-last-container {
        width: 94%;
        height: 91%;
    } 

}

@media(max-width: 1000px){
    .servicos-last .servicos-title {
        font-size: 1.5rem;
    }

    .servicos-last .servicos-content {
        font-size: 1rem;
    }
    
}


@media(max-width: 950px){
    .servicos-card-item {
        width: 450px;
    }

    .servicos-text {
        padding: 10px;
    }

    .servicos-last-container {
        width: 92%;
        height: 90%;
    }

    .servicos-last {
        height: 81%;
        padding: 30px 0;
    }
}


@media(max-width: 850px){
    .servicos-card-item {
        flex-direction: column;
        width: 350px;
        height: 400px;
    }

    .servicos-card-item img {
        width: 100%;
        height: 40%;
    }

    .servicos-last {
        height: 84%;
    }
}

@media(max-width: 650px){
    #servicos-container {
        width: 100%;
    }

    .servicos-card-item {
        width: 300px;
    }
    
    .servicos-text {
        justify-content: space-between;
    }

    .servicos-card-item img {
        height: 30%;
    }

    .servicos-title {
        font-size: 1rem;
    }

    .servicos-content {
        line-height: 19px;
    }

    .servicos-card-item button {
        font-size: 0.9rem;
    }

    .servicos-title {
        font-size: 1rem;
    }
    
    .servicos-last .servicos-title {
        font-size: 1.1rem;
    }

    .servicos-last .servicos-content {
        font-size: 0.9rem;
        width: 85%;
    }

    .servicos-last .servicos-title div{
        padding: 0;
    }

    .servicos-last-container {
        width: 90%;
        height: 91%;
    }

    .servicos-last {
        padding: 30px 20px;
    }

    #service-icon1 {
        top: -25px;
        left: 10px;
    }

    #service-icon2   {
        bottom: -25px;
        right: 10px;
    }

    .servicos-card-item.slick-slide.slick-current.slick-center .service-icon {
        height: 50px;
        width: 50px;
    }

}


@media(max-width: 500px){

    .servicos-card-item {
        width: 250px;
    }

    .servicos-content {
        font-size: 0.7rem;
    }
}


@media(max-width: 400px){

    .servicos-title {
        font-size: 0.9rem;
    }

    .servicos-card-item {
        width: 230px;
    }

    .servicos-card-item img {
        height: 25%;
    }

    #service-icon1 {
        top: -19px;
        left: 8px;
    }

    #service-icon2   {
        bottom: -19px;
        right: 8px;
    }

    .servicos-card-item.slick-slide.slick-current.slick-center .service-icon {
        height: 40px;
        width: 40px;
    }

}

/* slick */

.servicos-card-item.slick-slide.slick-current.slick-center {
    transition: all 0.2s linear;
    transform: scale(1.2);
}

.servicos-card .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 0;
}

.servicos-card .slick-dots li {
    margin: 0 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.servicos-card .slick-dots .slick-active button{
    height: 15px;
    width: 15px;
}

.servicos-card .slick-dots li button {
    border: 0;
    padding: 0;
    background-color: white;
    color: transparent;
    height: 10px;
    width: 10px
}

.service-next {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 40px;
    display: flex;
    flex-direction: row;
    bottom: 7px;
    right: 260px;
}

.service-prev {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 40px;
    display: flex;
    flex-direction: row;
    bottom: 7px;
    left: 260px;
}

.service-next img,
.service-prev img {
    width: 40px;
}

.service-prev img path,
.service-next img path{
    fill: #000000;
}

.slick-list.draggable {
    height: 350px;
}

@media(max-width: 1300px){
    .service-next {
        right: 150px;
    }

    .service-prev{
        left: 150px;
    }
}

@media(max-width: 950px){
    .service-next {
        right: 50px;
    }

    .service-prev {
        left: 50px;
    }
}

@media(max-width: 850px){
    .servicos-card .slick-dots {
        margin-top: 140px;
    }
}

@media(max-width: 500px){
    .servicos-card .slick-dots {
        margin-top: 120px;
    }

    .service-next {
        right: 25px;
    }

    .service-prev {
        left: 25px;
    }
}

/* modal */

#servico-modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 6;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(71, 71, 71, 0.664);
}

#servico-form {
    padding: 25px 10px;
}

#servico-modal {
    min-width: 320px;
    min-height: 400px;
    background-color: #05113a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#servico-modal div{
  margin-top: 20px;
}

.servico-modal-input {
  width: 100%;
  height: 30px;
  color: gray;
  font-family: 'Roboto', sans-serif;
}

#servico-select {
    width: 101%;
    background-color: white;
    border: 0;
}

#servico-select option {
    background-color: white;
    color: black;
}

#servico-modal textarea {
    height: 70px;
    width: 99%;
}

#modal-close {
  top: -10px;
  display: block;
  position: relative;
  color: white;
  float: right;
  cursor: pointer;
  width: 15px;
}

#servico-submit {
    transition: all 0.2s linear;
    padding: 5px 10px;
    color: white;
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
}

#servico-submit:hover {
    color: #000055;
    border: 1px solid #000055;
    background-color: white;
}

#outros-servicos-title {
  color: #000055;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}